#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgba(131, 163, 190, 0.589);
    height: 80%;
    width: 100%;

}

.hide{
    display: none;
    height: 0px;
    width:0px;
}

.header {
    background-color: rgb(47, 103, 75);
    color:#f4f5f5;
    width:100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header p{
    font-size:48px;
    font-family: 'Varela Round', sans-serif;
}

#gameboard{
    display: flex;
    align-items: center;
    justify-content: center;
}
#container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-gap: 1px;

}

.game-mode{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.game-mode p{
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 200;
}

.item-player {
    align-self: top;
}

.field { 
    border: 1px solid black;
    background-color: white;
    box-sizing: content-box;
    font-size: 48px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    user-select: none;

}

.field p {
    margin: 0px;
}

.btn-p {
    width: 15em;
    height: 2.5em;
    margin: 1em 1em 1em 1em;
}



.win p {
    font-weight: 600;
    color: black;
    z-index: 1;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.winner {
    position: fixed;
    left: 50%;
    top: 37%;
    transform: translate(-50%, 0);
    font-size: 35px;
}


.sign {
    position: fixed;
    left: 50%;
    top: 52%;
    transform: translate(-50%, 0);
    font-size: 100px;
    margin: 0;
}


.btn.restart{
    margin-bottom: 10px;
}