#container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
    width: 100vw;

}

.hide{
    display: none;
}


#container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-gap: 1px;

}

.field { 
    border: 1px solid black;
    background-color: white;
    box-sizing: content-box;
    font-size: 48px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    user-select: none;

}

.field p {
    margin: 0px;
}

.btn-p {
    width: 15em;
    height: 2.5em;
    margin: 1em 1em 1em 1em;
}

.playing {
    transform: scale(1.1);
    color: #0e5669;
    box-shadow: 0 0 1rem #0e5669;
  }